@model EShoper.FPT.Models.eshoper_rates

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>eshoper_rates</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eshoper_product.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eshoper_product.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eshoper_users.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eshoper_users.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rate_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rate_number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.rate_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
